/* General */
html {
	min-width: 800;
	font-family: "Verdana";
}

/* Section styles */
#header {
	width: 100%;
	height: 5%;
	border-bottom: 1px solid #ccc
}

#header #logo {
	padding: 2px 5px;
}

#header #logo a {
	text-decoration: none;
	color: #000000;
	font-size: 25;
	font-weight: bold;
}

#header #nav {
	float: right;
	list-style: none;
	width: 75%;
	margin: 0 0 3em 0;
	padding: 0;
}

#header #nav li a {
	font-family: "Times New Roman";
	float: right;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #151515;
}

#content {
	width: 100%;
	padding-left: 8px;
	margin-top: 3%;
}

#info {
	position:absolute;
	left: 0;
	bottom:0;
	width:100%;
	height:3%;
	background-color: #a0b969;
}

#info p {
	margin-top: 7px;
	margin-left: 7px;
}