/* General */
html {
	min-width: 900;
	min-height: 800;
	font-family: "Verdana";
	background-color: #f5f5f5;
	color: #151515;
}

/* Section styles */
#header {
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #ccc;
}

#header #logo {
	padding: 1px 5px;
}

#header #logo a {
	text-decoration: none;
	color: #000000;
	font-size: 25;
	font-weight: bolder;
}

#header #logo a:hover {
	color: #a0b969;
}

#header #nav {
	float: right;
	list-style: none;
	width: 75%;
	margin: 0 0 3em 0;
	padding: 0;
}

#header #nav li a {
	font-family: "Times New Roman";
	float: right;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #151515;
}

#header #nav li a:hover {
	color: #a0b969;
}

#content {
	margin: auto;
	width: 950;
	padding-left: 8px;
	margin-top: 50px;
}

#info {
	opacity:.85;
	position:fixed;
	left: 0;
	bottom:0;
	width:100%;
	height:20px;
	background-color: #a0b969;
	text-align: center;
}

#info p {
	margin-top: 3px;
	margin-left: 7px;
	font-size: 12;
}