extends section

block name
  p
    | Education

block content
  .row.row-eq-height
    .col-xs-10.rightDivider
      h3 
        | Northeastern University
      | , Boston, MA
      br
      b
        | College of Computer and Information Science
      br
      i
        | Candidate for a Bachelor of Science in Computer Science
      br
      i
        | Honors: National Merit Scholar, Dean's List, Honors Program
    .col-xs-2
      p 
        | 2013 - Present
        br
        br
        i
          | May 2017