extends section

block name
  p
    | Work Experience

block content
  .row.row-eq-height
    .col-xs-10.rightDivider
      h3 
        | ResNet Technician
      br
      b
        | Northeastern University
      br
      ul
        li
          | Develop the ResNet Dashboard webapp using python and django 
          | framework
        li
          | Resolve issues related to Northeastern's residential network
        li
          | Help students diagnose and remediate software issues on their 
          | machines 
    .col-xs-2
      p 
        | July 2013 - Present
  .row.row-eq-height
    .col-xs-10.rightDivider
      h3 
        | Software Developer Co-op
      br
      b
        | PowerAdvocate Inc
      br
      ul
        li
          | Developed a distributed automated classification program in scala
          |  using Spark's scalable machine learning library
        li
          | Set up a cluster running Apache Spark, Hadoop, and Hbase between
          |  linux machines to run the classification program on
        li
          | Worked on full software stack of a data analytics webapp written
          | with java and the Spring framework
    .col-xs-2
      p 
        | January 2015 - June 2015
  .row.row-eq-height
    .col-xs-10.rightDivider
      h3 
        | Computer Science Intern
      br
      b
        | Northwoods Software Corporation
      br
      ul
        li 
          | Ported company’s JavaScript library to java for use on Android 
        li 
          | Researched viability of converting company’s GoJS tool into an
          |  Android diagramming library
    .col-xs-2
      p 
        | June 2013 - August 2013