extends resume/section

block name
  p
    | About

block content
    .row.row-eq-height
      .col-xs-10.rightDivider
        p 
          | I'm a Junior at Northeastern University studying Computer Science.
          | I've previously worked at PowerAdvocate, Northwoods Software, and
          | Northeastern's residential network. I enjoy fiddling about with new
          | technology and developing things I would actually use on a
          | day-to-day basis.
        br
        p
          | My latest endeavor is making something useful for my gaudy Android
          | Wear that I blew so much money on so I can stop using it as nothing
          | more than a glorified time piece.
      .col-xs-2
        p
          a(href="https://github.com/TheMichaelHu" target="_blank")
            i.fa.fa-github.fa-3x
        p
          a(href="https://www.linkedin.com/in/michaelanhu" target="_blank")
            i.fa.fa-linkedin.fa-3x
        p
          a(href="https://twitter.com/TheMichaelHu" target="_blank")
            i.fa.fa-twitter.fa-3x