doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='shortcut icon', href='img/logo.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/typed.js', type='text/javascript')
    script(src='js/scripts.js', type='text/javascript')

    //- fonts
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Bilbo' rel='stylesheet' type='text/css')

    block title
      title Base Page

  body(data-spy='scroll' data-target='.navbar' data-offset="50")
    include nav
    block content
      p
        | Page under contruction
    include footer