extends jade/page

block title
  title Michael Hu

block content
  include jade/cover
  #about
    include jade/about
  #resume
    include jade/resume/resume
  #projects
    include jade/projects
  #contact
    include jade/contact
